<div style="width: 50%; margin-top: 12%; margin-left: 20%;" fxLayout="column">
    <mat-card class="mat-elevation-z8">
        <mat-card-title>Login Here</mat-card-title>
        <mat-card-content>
            <small style="color: #df546a;" *ngIf="errorMessage">{{errorMessage}}<br/></small>
            <mat-card class="mat-evevation-z0" fxLayout="column" fxLayoutGap="10px">
                <form [formGroup]="form" (ngSubmit)="login(); form.reset();" #loginForm="ngForm">
                    <mat-card-content>
                        <mat-form-field>
                            <input type="text" matInput [formControl]="form.controls['employeeId']" fxFlex>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button type="submit" fxFlex mat-raised-button color="primary">Submit</button>
                    </mat-card-actions>
                </form>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>