<mat-toolbar class="menu" role="header" color="primary">

    <mat-toolbar-row>
        <button mat-button class="toolbar__icon-button mat-button">
            <mat-icon>filter_vintage</mat-icon>
            <span style="margin-left: 5px !important;">Home</span>
        </button>
        <button mat-button class="mat-button">
                <mat-icon>computer</mat-icon>
            Github
        </button>
        <button mat-button class="mat-button">
                <mat-icon>phone_enabled</mat-icon>
            Contact Us
        </button>

        <div fxFlex></div>

        <!-- User Profile -->
        <button class="toolbar__icon-button" [matMenuTriggerFor]="menu" mat-icon-button>

            <mat-icon>format_align_right</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>perm_contact_calendar</mat-icon>
                <span>Account</span>
            </button>
            <button mat-menu-item>
                <mat-icon>trending_up</mat-icon>
                <span>Share</span>
            </button>
            <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>

        </mat-menu>
    </mat-toolbar-row>

</mat-toolbar>