    <mat-toolbar class="menu" role="header" color="accent">
        <mat-toolbar-row>
            <button mat-button class="toolbar__icon-button mat-button">
                <mat-icon>computer</mat-icon>
                <span style="margin-left: 5px !important;">Node Quiz</span>
            </button>

            <div fxFlex></div>

            <!-- User Profile -->
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>library_books</mat-icon>
                    <span>My Results</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
            <button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>