<app-header></app-header>
<mat-card-title>Welcome to Node Quiz!</mat-card-title>

<div class="row">
    <div class="column">
        <img src="assets/slides/html-css/Slide1.jpeg" alt="HTML" style="width:100%">
        <button mat-button (click)="goToPresentation('html-css')">Learn HTML/CSS</button>
    </div>
    <div class="column">
        <img src="assets/slides/javascript/Slide1.jpeg" alt="Java" style="width:100%">
        <button mat-button (click)="goToPresentation('javascript')">Learn Javascript</button>
    </div>
    <div class="column">
        <img src="assets/slides/node/Slide1.jpeg" alt="node" style="width:100%">
        <button mat-button (click)="goToPresentation('node')">Learn Node</button>
    </div>
</div>